<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387510940696-ft0ob5m4hf6a5bkv4m51ds8prcokm937.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387510940696-ft0ob5m4hf6a5bkv4m51ds8prcokm937</string>
	<key>API_KEY</key>
	<string>AIzaSyA_qxoKmi6ns-nQxl4dRroWLMY9sx4tfA4</string>
	<key>GCM_SENDER_ID</key>
	<string>387510940696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.com.appflow.mapBlocFirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>map-bloc-firebase-app</string>
	<key>STORAGE_BUCKET</key>
	<string>map-bloc-firebase-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387510940696:ios:7045ff2b5b00d10ff2ff6d</string>
</dict>
</plist>